{% extends "base.html" %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ post.title }}</h1>
            <p class="lead text-body-secondary">Posted by: {{ post.user.username }}</p>
            <p class="lead text-body-secondary">Posted on: {{ post.created_at }}</p>
            <p class="lead text-body-secondary">{{ post.content }}</p>
        </div>
    </div>
</section>

<div class="container mt-5">
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ comment.user.username }}</h5>
            <p class="card-text">{{ comment.content }}</p>
        </div>
    </div>
    {% empty %}
    <p>No comments available.</p>
    {% endfor %}
</div>
{% endblock %}
